{% extends 'base.html' %}

{% block main %}
  <div class="page-content">
    <div class="content container">
      {% if message %}
                    <div class="alert alert-info fade in">{{ message }}</div>
      {% endif %}
      {% if search %}
      <div class="row">
        <div class="col-lg-12">
          <h2 class="page-title"><small>关键词: </small>{{ search }} </h2>
        </div>
      </div>
      {% else %}
      <div class="row">
        <div class="col-lg-12">
          <h2 class="page-title">最新修改 <small>Latest Modified</small></h2>
        </div>
      </div>
      {% endif %}
      
      {%for mail in mail_list %}
      <div class="row">
        <div class="col-lg-12">
          <div class="widget-container">
            <div class="padded"> <a href="{{ mail.get_absolute_url }}"><span class="h3">{{mail.title}}</span></a>
              <form method="post" action="{% url 'blog:edit' mail.id%}" class="no-margin">
                {% csrf_token %}
                <fieldset>
                    <div class="form-group no-margin" style="display:none">
                        <div class="input-group input-group-lg">
                            <input type="text" name='de' placeholder="Your Name" value="{{post.id}}" class="form-control input-lg" id="email">
                        </div>
                    </div>
                </fieldset>
				      <button class="close close-sm" type="submit"><i class="icon-remove"></i></button>         
            </form>
              <div class="text-center padder m-t"> <p>{{mail.body}}</p> </div>
            </div>
          </div>
        </div>
      </div>
      {% endfor %}
      <div>
        <ul class="pagination pagination-lg">
          {% if mail_list.has_previous %}
          <li><a href="?page={{ mail_list.previous_page_number }}">previous</a></li>
          {% endif %}
          <li><a href="#">Page {{ mail_list.number }} of {{ mail_list.paginator.num_pages }}.</a></li>
          {% if mail_list.has_next %}
          <li><a href="?page={{ mail_list.next_page_number }}">next</a></li>
          {% endif %}
        </ul>
      </div>
    </div>
  </div>

{% endblock main %}
